name: test

on: [push]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16
      - uses: cypress-io/github-action@v2
        with:
          headless: true
          # env: PORT=4000
          build: yarn run build
          start: yarn run start
